## ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv <br/>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­) <br/>
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [69]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

#### Question 1
ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [74]:
res = df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()
print(res,)
print('ê°¯ìˆ˜ :',len(res))

['ì¥ì‚ì­ˆ' 'ì´ëª‡ëª…' 'íŒŒë¿Œë¦¬' 'ì§¤íˆ°' 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„' 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„' 'SPOTV'
 'ì±„ë„ ì‹­ì˜¤ì•¼' 'ì´ê³¼ì¥' 'BANGTANTV']
ê°¯ìˆ˜ : 10

#### Question 2
ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [77]:
res = list(df.loc[(df['dislikes'] - df['likes']) > 0].channelTitle.drop_duplicates())
print(res)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

#### Question 3
ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [79]:
counts = df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()
ans = len(counts.loc[counts > 1])
print(ans)

71

#### Question 4
ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [80]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['day_of_week'] = df['trending_date2'].dt.day_name()

In [82]:
df.loc[df['day_of_week'] == 'Sunday'].categoryId.value_counts().index[0]

24

#### Question 5
ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [83]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'], as_index = False).size()
group.pivot(index='categoryId', columns = 'trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

#### Question 6
ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [84]:
t1 = df.loc[df.view_count !=0]
t2 = t1.copy()
t2['ratio'] = (t1['comment_count']/t1['view_count']).dropna()

In [85]:
res = t2.sort_values(by = 'ratio', ascending = False).iloc[0].title

In [86]:
print(res)

60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

#### Question 7
ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [87]:
temp1 = df.loc[df['view_count'] != 0]

In [88]:
temp1['ratio'] = temp1['comment_count']/temp1['view_count']

C:\Users\User\AppData\Local\Temp\ipykernel_20676\3632339896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1['ratio'] = temp1['comment_count']/temp1['view_count']

In [89]:
temp2 = temp1.loc[temp1['ratio'] != 0].sort_values(by = 'ratio', ascending = True).reset_index()

In [90]:
temp2['title'].iloc[0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

#### Question 8
like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [91]:
temp3 = df[df['likes'] != 0]
temp3 = temp3[temp3['dislikes'] != 0]

In [92]:
temp3.isna().value_counts(ascending= False)

title  channelTitle  categoryId  view_count  likes  dislikes  comment_count  channelId  trending_date2  day_of_week
False  False         False       False       False  False     False          False      False           False          59693
Name: count, dtype: int64

In [93]:
temp3['ratio'] =temp3['likes']/temp3['dislikes']

In [94]:
temp3.sort_values(by = 'ratio', ascending= False).title.iloc[0]

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

#### Question 9
ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [95]:
temp5 = df.loc[df['channelId'] == df.channelId.value_counts().sort_values(ascending=False).drop_duplicates().index[0]]
ans = temp5.channelTitle.drop_duplicates().iloc[0]
print(ans)

ì§¤íˆ°

#### Question 10
20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [109]:
res = (df[['title','channelId']].value_counts() >= 20).sum()
print(res)

40

## ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)<br/>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)<br/>
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv<br/>
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [114]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

#### Question 11
ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [127]:
pd.to_datetime(video['ct'])
pd.to_datetime(channel['ct'])

0      2021-09-30 03:01:03
1      2021-09-30 09:01:03
2      2021-09-30 15:01:03
3      2021-09-30 21:01:03
4      2021-10-01 03:01:04
               ...
1390   2021-10-31 15:01:04
1391   2021-10-31 21:01:04
1392   2021-11-01 03:01:03
1393   2021-11-01 09:01:04
1394   2021-11-01 15:01:07
Name: ct, Length: 1395, dtype: datetime64[ns]

In [121]:
video.dtypes

videopk                object
viewcnt                 int64
likecnt                 int64
dislikecnt              int64
favoritecnt             int64
cmcnt                   int64
ct             datetime64[ns]
videoname              object
dtype: object

In [116]:
video['ct'] = pd.to_datetime(video['ct'])

In [117]:
answer = video.videoname.value_counts()
print(answer)

videoname
 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: count, dtype: int64

#### Question 12
ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [118]:
ans = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep = 'last')[['viewcnt','videoname','ct']]
ans.reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

#### Question 13
Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [135]:
channel['ct'] = pd.to_datetime(channel.ct)
channel.dtypes

channelid              object
subcnt                  int64
viewcnt                 int64
videocnt                int64
ct             datetime64[ns]
channelname            object
dtype: object

In [145]:
tmp = channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
res = tmp[['channelname','subcnt']].reset_index(drop= True)
display(res)

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

:

#### Question 14
ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [61]:
channel_tmp1 = channel.loc[channel['ct'] <= pd.to_datetime('2021-10-03 03:00:00')]
channel_tmp1 = channel_tmp1.drop_duplicates('channelid', keep = 'last')[['channelname', 'subcnt']].reset_index(drop = True)

In [62]:
channel_tmp2 = channel.loc[channel['ct'] >= pd.to_datetime('2021-11-01 15:00:00')]
channel_tmp2 = channel_tmp2.drop_duplicates('channelid', keep = 'first')[['channelname','subcnt']].reset_index(drop=True)

In [71]:
tmp3 = pd.merge(channel_tmp1, channel_tmp2, on = 'channelname', how = 'right')

In [76]:
tmp3['gap']= tmp3['subcnt_y'] - tmp3['subcnt_x']

In [78]:
ans = tmp3[['channelname','gap']]
display(ans)

        channelname    gap
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10400
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2600

#### Question 15
ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [81]:
import datetime as dt

In [85]:
ep_1 = video.loc[video.videoname.str.contains('EP1')].sort_values('ct')
ep_1.reset_index(drop=True)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [90]:
ep_1[
    (ep_1.ct.diff(1) >= datetime.timedelta(minutes = 20)) | \
    (ep_1.ct.diff(1) <= datetime.timedelta(minutes = 5))
]
# ì•ë’¤ indexë¥¼ ì¶”ê°€í•˜ì—¬ ì¸ë±ìŠ¤ ë¦¬ìŠ¤íŠ¸ ê²°ì •

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [94]:
ans = ep_1[ep_1.index.isin([720,721,722,723, 1635, 1636, 1637])]
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

#### Question 16
ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [105]:
tmp4 = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct','videoname']]
tmp4['date'] = tmp4.ct.dt.date
tmp4[['videoname','date']]

      videoname        date
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

#### Question 17
â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [115]:
ep_1 = video.loc[video.videoname.str.contains('EP1')].sort_values('ct').reset_index(drop = True)

In [117]:
ep_1[
    (ep_1.ct.diff(1) <= dt.timedelta(minutes = 5)) |\
    (ep_1.ct.diff(1) >= dt.timedelta(minutes = 20))    
] # 710

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [118]:
ans = ep_1[ep_1.index.isin([720,721,722,723,1635, 1636, 1637])]
display(ans)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

#### Question 18
video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [113]:
df['ratio'] = df['dislikes']/df['likes']
df['videoname']

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,day_of_week,ratio
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,Friday,0.019085
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,Friday,NaN
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,Friday,0.033670
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,Friday,0.018215
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,Friday,0.028331
...,...,...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19,Tuesday,0.012537
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19,Tuesday,0.017653
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19,Tuesday,0.009928
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19,Tuesday,0.020275
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19,Tuesday,0.005456

#### Question 19
2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [170]:
nov_1st =  video.loc[
    (video['ct'] <= pd.to_datetime('2021-11-01 15:00:00')) &
    (video['ct'] >= pd.to_datetime('2021-11-01 00:00:00')) ].sort_values(['videoname','ct'])

In [171]:
start = nov_1st.drop_duplicates('videoname', 
                                keep = 'first')[
                                    ['videoname', 'viewcnt']
                                    ].reset_index(drop = True)
end = nov_1st.drop_duplicates('videoname', 
                              keep = 'last')[
                                  ['videoname', 'viewcnt']
                                  ].reset_index(drop = True)

In [172]:
gap = start.merge(end, how = 'right', on = 'videoname')
gap['gap'] = gap['viewcnt_y'] - gap['viewcnt_x']
display(gap[['videoname','gap']])

  videoname    gap
0    ê³µë²” EP1  13298
1    ê³µë²” EP2  10300
2    ê³µë²” EP3   9927
3    ê³µë²” EP4   9824
4    ê³µë²” EP5  10824
5    ê³µë²” EP6  14141
6    ê³µë²” EP7  26949
7    ê³µë²” EP8  89147

#### Question 20
video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [185]:
ans = video[
    video.index.isin(set(video.index) - set(video.drop_duplicates().index))
    ][['videoname','ct']]
ans

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

## ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)<br/>
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡<br/>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [17]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

#### Question 21
ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [18]:
ans = df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)['Goals']
pd.DataFrame(ans)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

#### Question 22
ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [19]:
res = df.groupby('Country').size().sort_values(ascending=False).head(5)
pd.DataFrame(res)

            0
Country
Brazil     81
Germany    78
Italy      60
Argentina  59
France     58

#### Question 23
Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [20]:
df['year_list'] = df.Years.str.split('-')

In [21]:
def check_four(x):
    for value in x:
        if len(str(value)) !=4:
            return False
        
    return True

df['check'] = df['year_list'].apply(check_four)

result = len(df[df.check == False])
result

45

#### Question 24
**Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [22]:
df2 = df[df.check == True].reset_index(drop = True)
display(df2.shape[0])

1250

#### Question 25
ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [30]:
df['LenCup'] = df['year_list'].str.len()
result = df['LenCup'].value_counts()[4]
print(result)

16

#### Question 26
Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [40]:
res = len(df.loc[(df['Country'] == 'Yugoslavia')&(df['LenCup'] == 2)])
print(res)

7

#### Question 27
2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [46]:
df2

,Player,Goals,Years,Country,year_list,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [50]:
res = len(df.loc[df['Years'].str.contains('2002')])
print(res)

156

#### Question 28
ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [52]:
res = len(df.loc[df.Player.str.lower().str.contains('carlos')])
print(res)

13

#### Question 29
ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [61]:
res = df.loc[df.LenCup == 1].sort_values('Goals')['Player'].values[-1]
print(res)

Just Fontaine

#### Question 30
ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [67]:
res = df.loc[df.LenCup == 1]['Country'].value_counts().index[0]
print(res)

Brazil

In [266]:
temp6

                                                  title  count
0                                          Go Back (ê³ ë°±)     42
1                           ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹     24
2     ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2...     24
3                                               2ì£¼ë”ë†€ë¦´ì˜ˆì •     23
4                             ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!     23
...                                                 ...    ...
7849  ë¦¬ì–¼ë¨¹ë°©:) ìƒˆí•´ì—ëŠ” ë–¡ë§Œë‘êµ­! í‘¸ì§í•œ ì¡ì±„â˜… | tteokkuk | mandoo ...      1
7850  [ì´ì§€ì•„ ìµœì´ˆ ìƒì–¼ê³µê°œ] SBS íœíŠ¸í•˜ìš°ìŠ¤ ì´ì§€ì•„ ë©”ì´í¬ì—… by ì˜¥ìŒ¤ ã…£ìƒì–¼ë¶€í„° ì‹¬...      1
7851  ë…¸ìº” ì˜ ëœë‹¤ë”ë‹ˆ? ì˜ˆì˜ë‹¤ê³  ë¬´í„±ëŒ€ê³  ì‚°  ë²„ì¦ˆ í”„ë¡œ ì‚° ë²„ì¦ˆ í”„ë¡œ ì†”ì§ë¦¬ë·° | ë²„...      1
7852  êµ­ìˆ«ì§‘ì—ì„œ ë‹­ì£½? ì—í”¼íƒ€ì´ì € ë§›ì§‘ ìƒë©´êµ­ìˆ«ì§‘ ë“±ì¥ [ì˜ˆëŠ¥ë§›ì§‘Xê³±ë¹¼ê¸°/ê³¨ëª©ì‹ë‹¹ Bac...      1
7853                              í›„ë°° ìœ íŠœë²„ê°€ ì•Œê³ ë³´ë‹ˆ ì…°í”„ì‹œì ˆ ìŠ¤ìŠ¹ë‹˜      1

[7854 rows x 2 columns]

In [270]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [273]:
channel['ct'] = pd.to_datetime(channel['ct'])
channel.dtypes

channelid              object
subcnt                  int64
viewcnt                 int64
videocnt                int64
ct             datetime64[ns]
channelname            object
dtype: object

In [274]:
video['ct'] = pd.to_datetime(video['ct'])
video.dtypes

videopk                object
viewcnt                 int64
likecnt                 int64
dislikecnt              int64
favoritecnt             int64
cmcnt                   int64
ct             datetime64[ns]
videoname              object
dtype: object

In [275]:
video.value_counts('videoname')

videoname
 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: count, dtype: int64

In [276]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [292]:
temp7 = channel.loc[channel.ct > '2021-10-03'].drop_duplicates('channelid')
ans = temp7.sort_values(by='subcnt', ascending= False).reset_index()[['channelname','subcnt']]

In [293]:
print(ans)

        channelname   subcnt
0               ê½ˆëšœë£¹  1330000
1            ë…¼ë¦¬ì™• ì „ê¸°   922000
2     ê³½í† ë¦¬ kwak tori   471000
3        ì¸„ì •ChuJeong   322000
4             ì•¼ì „ì‚½ì§±ì¬   257000
5               ì¡°ë‚˜ë‹¨   215000
6   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
7     Balming Tiger    54300
8           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
9       ë¦´í„ Lilpearl    10100
10       ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520

In [309]:
temp8 = channel.loc[channel['ct'] < '2021-10-03 02:59:59'].sort_values(by = 'ct', ascending= False)
temp8 = temp8.drop_duplicates('channelname', keep = 'first').sort_values('channelid')

In [324]:
temp9 = channel.loc[channel['ct'] >= '2021-11-01 15:00:00'].sort_values(by = 'ct', ascending= False)
temp9 = temp9.drop_duplicates('channelname', keep = 'last').sort_values('channelid')

In [333]:
temp8 = temp8.reset_index(drop = True)
temp8

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-02 21:01:02,ë…¼ë¦¬ì™• ì „ê¸°
1,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-02 21:01:02,ì•¼ì „ì‚½ì§±ì¬
2,UCI9W73BWje69k7f1m_I4mbQ,14800,206221,49,2021-10-02 21:01:02,í˜•ì‚¬!íƒì •ë˜ë‹¤
3,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-02 21:01:03,ë¦´í„ Lilpearl
4,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-02 21:01:02,ì¡°ë‚˜ë‹¨
5,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1442962,15,2021-10-02 21:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
6,UCbBzKnCYcG7E3EIkSTdsawA,54200,7050078,54,2021-10-02 21:01:04,Balming Tiger
7,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-02 21:01:04,ê½ˆëšœë£¹
8,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-02 21:01:02,ì™€ê¸€ì™€ê¸€ WagleWagle
9,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-02 21:01:02,ì¸„ì •ChuJeong
10,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-02 21:01:03,ê³½í† ë¦¬ kwak tori

In [334]:
temp9 = temp9.reset_index(drop = True)
temp9

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCDV9zgWo7b6nPg7i49oRQ5Q,911000,101255959,84,2021-11-01 15:01:04,ë…¼ë¦¬ì™• ì „ê¸°
1,UCEI4rb8YldV8v0dVUSo9ToQ,268000,30724301,80,2021-11-01 15:01:03,ì•¼ì „ì‚½ì§±ì¬
2,UCI9W73BWje69k7f1m_I4mbQ,25200,840670,47,2021-11-01 15:01:04,í˜•ì‚¬!íƒì •ë˜ë‹¤
3,UCKOeR5Evsupc77nPL3qCMnw,21100,597680,8,2021-11-01 15:01:05,ë¦´í„ Lilpearl
4,UCM9Rx3EqBJ-jMhD2E8Gjb4g,227000,16810097,64,2021-11-01 15:01:04,ì¡°ë‚˜ë‹¨
5,UCOYhhfLMGY8OjsbfGNVf7Lw,9060,1414920,16,2021-11-01 15:01:05,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
6,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger
7,UCkQCwnkQfgSuPTTnw_Y7v7w,1400000,440372648,746,2021-11-01 15:01:08,ê½ˆëšœë£¹
8,UClu0udsIHkalM416ttWe_Zw,55000,4710150,107,2021-11-01 15:01:04,ì™€ê¸€ì™€ê¸€ WagleWagle
9,UCqwNCDzQBfw2seMRJpL-RWg,323000,74542471,223,2021-11-01 15:01:03,ì¸„ì •ChuJeong
10,UCs9H--14toIRdJQAD9qz9tA,469000,130097921,563,2021-11-01 15:01:05,ê³½í† ë¦¬ kwak tori

In [335]:
temp9['gap_subcnt'] = temp9['subcnt'] - temp8['subcnt']

In [346]:
temp11 = temp9.sort_values('gap_subcnt', ascending= False)
ans = temp11[['channelname','gap_subcnt']].reset_index(drop = True)
display(ans)

        channelname  gap_subcnt
0               ê½ˆëšœë£¹       70000
1               ì¡°ë‚˜ë‹¨       12000
2             ì•¼ì „ì‚½ì§±ì¬       11000
3       ë¦´í„ Lilpearl       11000
4           í˜•ì‚¬!íƒì •ë˜ë‹¤       10400
5     Balming Tiger        2600
6        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶        1540
7        ì¸„ì •ChuJeong        1000
8   ì™€ê¸€ì™€ê¸€ WagleWagle           0
9     ê³½í† ë¦¬ kwak tori       -2000
10           ë…¼ë¦¬ì™• ì „ê¸°      -11000

511      911000
257      268000
892       25200
1146      21100
765      227000
1019       9060
1394      56800
130     1400000
638       55000
384      323000
1273     469000
Name: subcnt, dtype: int64

In [320]:
temp10

,channelid,subcnt,viewcnt,videocnt,ct,channelname,10-03_subcnt,11-01_subcnt,gap_subcnt
392,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-02 21:01:02,ë…¼ë¦¬ì™• ì „ê¸°,922000,NaN,NaN
138,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-02 21:01:02,ì•¼ì „ì‚½ì§±ì¬,257000,NaN,NaN
773,UCI9W73BWje69k7f1m_I4mbQ,14800,206221,49,2021-10-02 21:01:02,í˜•ì‚¬!íƒì •ë˜ë‹¤,14800,NaN,NaN
1027,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-02 21:01:03,ë¦´í„ Lilpearl,10100,NaN,NaN
646,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-02 21:01:02,ì¡°ë‚˜ë‹¨,215000,NaN,NaN
900,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1442962,15,2021-10-02 21:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶,7520,NaN,NaN
1275,UCbBzKnCYcG7E3EIkSTdsawA,54200,7050078,54,2021-10-02 21:01:04,Balming Tiger,54200,NaN,NaN
11,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-02 21:01:04,ê½ˆëšœë£¹,1330000,NaN,NaN
519,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-02 21:01:02,ì™€ê¸€ì™€ê¸€ WagleWagle,55000,NaN,NaN
265,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-02 21:01:02,ì¸„ì •ChuJeong,322000,NaN,NaN
1154,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-02 21:01:03,ê³½í† ë¦¬ kwak tori,471000,NaN,NaN

In [347]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [351]:
import datetime as dt

In [352]:
ep_1 = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop = True)
ep_1[
    (ep_1.ct.diff(1) >= dt.timedelta(minutes = 20)) |\
    (ep_1.ct.diff(1) <= dt.timedelta(minutes = 5))    
]
# 720, 721, 722, 723, 1635, 1636, 1637

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [353]:
ans = ep_1[ep_1.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]

In [354]:
ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

In [358]:
tmp1 = video.sort_values(by='ct').drop_duplicates('videoname', keep='first')

In [359]:
tmp1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,ê³µë²” EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,ê³µë²” EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,ê³µë²” EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,ê³µë²” EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,ê³µë²” EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,ê³µë²” EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,ê³µë²” EP8

In [360]:
tmp1['date'] = tmp1['ct'].dt.date

In [362]:
tmp1[['videoname','date']]

      videoname        date
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

In [363]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [364]:
tmp3 = video.copy()

In [365]:
tmp3['ratio'] = tmp3['dislikecnt']/tmp3['likecnt']

In [366]:
tmp3

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,ratio
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1,0.023167
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1,0.023184
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1,0.023295
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1,0.023302
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1,0.023312
...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8,0.141310
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8,0.141333
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8,0.141384
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8,0.141334
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,0.141357

In [376]:
tmp3 = tmp3.sort_values('ct').drop_duplicates('videoname', keep = 'last').sort_values('ratio')

In [380]:
tmp3[['videoname', 'ratio']].reset_index(drop = True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

In [381]:
tmp4 = video.copy()

In [384]:
tmp4_11 = tmp4.loc[tmp4['ct'] >= '2021-11-01 00:00:00'].sort_values(by = 'ct').drop_duplicates('videoname', keep = 'first')

In [393]:
tmp4_11 = tmp4_11.sort_values(by = 'videoname').reset_index(drop=True)

In [394]:
tmp4_11

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,ê³µë²” EP1
1,23QQ1ru9YQg,2188578,25511,756,0,9179,2021-11-01 00:00:03,ê³µë²” EP2
2,GygoAk1hDU0,1660916,22667,505,0,12505,2021-11-01 00:00:03,ê³µë²” EP3
3,bK0_3Vbfvs8,1808141,22646,403,0,16955,2021-11-01 00:00:04,ê³µë²” EP4
4,hv7FBjskAu0,1492223,19865,415,0,12436,2021-11-01 00:00:04,ê³µë²” EP5
5,AxGKHmXyuAE,1735457,24409,384,0,13006,2021-11-01 00:00:04,ê³µë²” EP6
6,QUjQbgj5IXM,1602201,29193,389,0,18435,2021-11-01 00:00:05,ê³µë²” EP7
7,yZt-h-KcmUE,1196327,24944,3470,0,30539,2021-11-01 00:00:05,ê³µë²” EP8

In [386]:
tmp4_15 = tmp4.loc[tmp4['ct'] <= '2021-11-01 15:00:00'].sort_values(by = 'ct').drop_duplicates('videoname', keep = 'last')

In [395]:
tmp4_15 = tmp4_15.sort_values(by = 'videoname').reset_index(drop=True)

In [396]:
tmp4_15

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
1,23QQ1ru9YQg,2198878,25563,763,0,9172,2021-11-01 14:50:04,ê³µë²” EP2
2,GygoAk1hDU0,1670843,22714,508,0,12498,2021-11-01 14:50:04,ê³µë²” EP3
3,bK0_3Vbfvs8,1817965,22701,407,0,16950,2021-11-01 14:50:04,ê³µë²” EP4
4,hv7FBjskAu0,1503047,19923,421,0,12434,2021-11-01 14:50:05,ê³µë²” EP5
5,AxGKHmXyuAE,1749598,24492,389,0,13024,2021-11-01 14:50:05,ê³µë²” EP6
6,QUjQbgj5IXM,1629150,29324,399,0,18246,2021-11-01 14:50:06,ê³µë²” EP7
7,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8

In [398]:
tmp4['gap_viewcnt'] = tmp4_15['viewcnt'] - tmp4_11['viewcnt']

In [401]:
tmp5 = tmp4_15.copy().drop('viewcnt', axis=1)

In [403]:
tmp5['gap_viewcnt'] = tmp4_15['viewcnt'] - tmp4_11['viewcnt']

In [405]:
ans = tmp5[['videoname','gap_viewcnt']]
display(ans)

  videoname  gap_viewcnt
0    ê³µë²” EP1        13298
1    ê³µë²” EP2        10300
2    ê³µë²” EP3         9927
3    ê³µë²” EP4         9824
4    ê³µë²” EP5        10824
5    ê³µë²” EP6        14141
6    ê³µë²” EP7        26949
7    ê³µë²” EP8        89147

In [406]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [407]:
tmp10 = video.ct.value_counts()

In [408]:
tmp10

ct
2021-10-30 21:20:04    4
2021-10-25 22:20:03    4
2021-10-25 10:00:03    4
2021-10-25 08:30:03    4
2021-10-25 06:30:03    4
                      ..
2021-10-09 21:30:03    1
2021-10-09 21:40:03    1
2021-10-09 22:00:04    1
2021-10-09 22:10:03    1
2021-11-01 14:00:05    1
Name: count, Length: 7741, dtype: int64

In [409]:
video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...}

In [416]:
video[video.index.isin(set(video.index) - set(video.index.drop_duplicates()))]

Empty DataFrame
Columns: [videopk, viewcnt, likecnt, dislikecnt, favoritecnt, cmcnt, ct, videoname]
Index: []

In [418]:
origin = list(video.index)

In [419]:
dupli = list(video.drop_duplicates().index)

In [420]:
origin - dupli

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [421]:
org = set(video.index)

In [422]:
dup = set(video.drop_duplicates().index)

In [431]:
dupli = list(org-dup)

In [432]:
video.loc[video.index[dupli]][['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21 ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [7]:
grouped = df.groupby('Country')

In [16]:
ans = grouped['Goals'].sum().sort_values(ascending = False).head(5)

In [19]:
pd.DataFrame(ans)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

22 ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [20]:
grouped1 = df.groupby('Country')

In [37]:
country_rank = grouped1['Player'].size().sort_values(ascending=False).head(5).reset_index()
print(country_rank)

     Country  Player
0     Brazil      81
1    Germany      78
2      Italy      60
3  Argentina      59
4     France      58

23ë²ˆ<br/>
Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [38]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [43]:
df['Yearlist'] = df['Years'].str.split('-')
df

,Player,Goals,Years,Country,Yearlist
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]"
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]"
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]"
3,Just Fontaine,13,1958,France,[1958]
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]"
...,...,...,...,...,...
1290,Josip Skoblar,1,1962,Yugoslavia,[1962]
1291,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]"
1292,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930]
1293,Djordje Vujadinovic,1,1930,Yugoslavia,[1930]
1294,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]"

In [47]:
def check_4(x):
    for value in x:
        if len(str(value)) !=4:
            return False
    
    return True

In [48]:
df['check'] = df['Yearlist'].apply(check_4)

In [49]:
res = len(df.loc[df.check == False])
res

45

24ë²ˆ<br/>
**Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [85]:
df2 = df.loc[df.check == True].reset_index(drop = True)
print(df2.shape[0])

1250

In [86]:
df2

,Player,Goals,Years,Country,Yearlist,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True
...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True

In [91]:
df2['LenCup'] = df2['Yearlist'].str.len()

In [92]:
df2

,Player,Goals,Years,Country,Yearlist,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [101]:
ans = len(df2.loc[df2['LenCup'] == 4])
print(ans)

16

Question 26<br/>
Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [110]:
yugo_player = df2.loc[df2['Country'] == 'Yugoslavia']
res = yugo_player.loc[yugo_player['LenCup'] == 2].shape[0]

In [111]:
print(res)

7

Question 27<br/>
ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [118]:
player_2002 = df2.loc[df2.Years.str.contains('2002')]

In [122]:
print(len(player_2002.Player))

156

Question 28 <br/>
ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [128]:
res = df2.loc[df2['Player'].str.lower().str.contains('carlos')]
print(len(res))

13

Question 29 <br/>
ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [129]:
df2

,Player,Goals,Years,Country,Yearlist,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [144]:
tmp = df2.loc[df2.LenCup == 1].sort_values(by = 'Goals', ascending=False).reset_index(drop = True)
print(tmp['Player'][0])

Just Fontaine

Question 30 <br/>
ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [145]:
df2

,Player,Goals,Years,Country,Yearlist,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [189]:
tmp1 = df2.loc[df2['LenCup'] == 1]
tmp2 = tmp1.Country.value_counts().reset_index()
print(tmp2.Country[0])

Brazil

# ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

Attention<br/>
ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [190]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

#### Question 31 <br/>
ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [191]:
df.dtypes

ëŒ€ì—¬ì¼ì       object
ëŒ€ì—¬ì‹œê°„        int64
ëŒ€ì—¬ì†Œë²ˆí˜¸       int64
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ     object
ì„±ë³„         object
ì—°ë ¹ëŒ€ì½”ë“œ      object
ì´ìš©ê±´ìˆ˜        int64
ìš´ë™ëŸ‰        object
íƒ„ì†ŒëŸ‰        object
ì´ë™ê±°ë¦¬      float64
ì‚¬ìš©ì‹œê°„        int64
dtype: object

In [192]:
import datetime as dt

In [196]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])

In [198]:
df.dtypes

ëŒ€ì—¬ì¼ì      datetime64[ns]
ëŒ€ì—¬ì‹œê°„               int64
ëŒ€ì—¬ì†Œë²ˆí˜¸              int64
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ            object
ì„±ë³„                object
ì—°ë ¹ëŒ€ì½”ë“œ             object
ì´ìš©ê±´ìˆ˜               int64
ìš´ë™ëŸ‰               object
íƒ„ì†ŒëŸ‰               object
ì´ë™ê±°ë¦¬             float64
ì‚¬ìš©ì‹œê°„               int64
dtype: object

In [214]:
tmp = df.sort_values('ëŒ€ì—¬ì¼ì')

In [220]:
tmp = df.value_counts('ëŒ€ì—¬ì¼ì', sort = False).to_frame() #ëŒ€ì—¬ ì¼ìë³„ ë°ì´í„° ìˆ˜ dataframe

In [240]:
max_date = tmp.sort_values('count', ascending= False).reset_index()

In [245]:
print(tmp)
print('max_data_date',max_date['ëŒ€ì—¬ì¼ì'][0].date())

            count
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945
max_data_date 2021-06-04

## Question 32<br/>
ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [247]:
df['ìš”ì¼'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name() #ì¼ìë¡œ ìš”ì¼ ì»¬ëŸ¼ ì¶”ê°€

In [248]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [299]:
day_name = df.ìš”ì¼.value_counts().to_frame() # ê° ìš”ì¼ë³„ ì´ìš©íšŸìˆ˜ì˜ ì´í•©
display(day_name)

            count
ìš”ì¼
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

## Question 33 <br/>
ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [291]:
grouped = df.groupby(['ìš”ì¼','ëŒ€ì—¬ì†Œë²ˆí˜¸'], as_index=False).size()
# grouped.drop_duplicates( subset='ìš”ì¼', keep = 'first' )

In [297]:
res = grouped.sort_values(by = ['ìš”ì¼','size'], ascending= False).drop_duplicates('ìš”ì¼', keep = 'first').reset_index(drop = True)

In [298]:
res

          ìš”ì¼  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

## Question 34<br/>
ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [300]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [340]:
daily_t = df.loc[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])]
daily_t = daily_t.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()
#ì—°ë ¹ëŒ€ë³„ ì¼ì¼ê¶Œ ìˆ˜ëŸ‰

In [349]:
tot_cnt = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size()
#ì—°ë ¹ëŒ€ë³„ ì „ì²´íšŸìˆ˜

In [350]:
ratio = daily_t / tot_cnt

In [356]:
ratio.sort_values(ascending = False)

ì—°ë ¹ëŒ€ì½”ë“œ
~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
dtype: float64

## Question 35 <br/>
ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [357]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [369]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

## Question 36 <br/>
ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [404]:
df.dtypes

ëŒ€ì—¬ì¼ì      datetime64[ns]
ëŒ€ì—¬ì‹œê°„               int64
ëŒ€ì—¬ì†Œë²ˆí˜¸              int64
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ            object
ì„±ë³„                object
ì—°ë ¹ëŒ€ì½”ë“œ             object
ì´ìš©ê±´ìˆ˜               int64
ìš´ë™ëŸ‰               object
íƒ„ì†ŒëŸ‰               object
ì´ë™ê±°ë¦¬             float64
ì‚¬ìš©ì‹œê°„               int64
ìš”ì¼                object
dtype: object

In [419]:
import numpy as np
df['íƒ„ì†ŒëŸ‰'] = df['íƒ„ì†ŒëŸ‰'].replace('\\N', np.nan).astype(float)
df.dtypes

ëŒ€ì—¬ì¼ì      datetime64[ns]
ëŒ€ì—¬ì‹œê°„               int64
ëŒ€ì—¬ì†Œë²ˆí˜¸              int64
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ            object
ì„±ë³„                object
ì—°ë ¹ëŒ€ì½”ë“œ             object
ì´ìš©ê±´ìˆ˜               int64
ìš´ë™ëŸ‰               object
íƒ„ì†ŒëŸ‰              float64
ì´ë™ê±°ë¦¬             float64
ì‚¬ìš©ì‹œê°„               int64
ìš”ì¼                object
dtype: object

In [429]:
age_20 = df.loc[df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '20ëŒ€'].reset_index(drop=True)  #20ëŒ€ì¸ ë°ì´í„° ì¶”ì¶œ
age_20

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-01,0,953,ì •ê¸°ê¶Œ,F,20ëŒ€,1,0.00,0.00,0.00,11,Tuesday
1,2021-06-01,0,1029,ì •ê¸°ê¶Œ,F,20ëŒ€,1,37.84,0.34,1470.00,7,Tuesday
2,2021-06-01,0,1153,ì •ê¸°ê¶Œ,F,20ëŒ€,1,31.17,0.35,1513.53,10,Tuesday
3,2021-06-01,0,1653,ì •ê¸°ê¶Œ,F,20ëŒ€,1,8.00,0.10,430.00,3,Tuesday
4,2021-06-01,0,1716,ì •ê¸°ê¶Œ,F,20ëŒ€,1,52.67,0.31,1357.20,8,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
247556,2021-06-14,23,2034,ì •ê¸°ê¶Œ,M,20ëŒ€,1,514.35,3.59,15462.66,49,Monday
247557,2021-06-14,23,2265,ì •ê¸°ê¶Œ,M,20ëŒ€,1,51.36,0.49,2091.73,12,Monday
247558,2021-06-14,23,1640,ì •ê¸°ê¶Œ,M,20ëŒ€,1,52.59,0.39,1660.00,8,Monday
247559,2021-06-14,23,502,ì •ê¸°ê¶Œ,M,20ëŒ€,1,264.03,2.09,9010.00,43,Monday
247560,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,20ëŒ€,1,512.64,4.62,19916.21,97,Monday

In [431]:
avr_mov = age_20['ì´ë™ê±°ë¦¬'].mean()
avr_mov

3211.890551581227

In [438]:
tmp_age_20 = age_20.loc[age_20['ì´ë™ê±°ë¦¬']  >= avr_mov]
tmp_age_20 = tmp_age_20.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'], ascending = False)
tmp_age_20 = tmp_age_20.reset_index(drop=True).head(200)
tmp_age_20

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-14,19,9999,ì •ê¸°ê¶Œ,F,20ëŒ€,1,201.03,2.07,8906.00,40,Monday
1,2021-06-14,20,4868,ì¼ì¼ê¶Œ,M,20ëŒ€,2,265.25,2.03,8791.61,51,Monday
2,2021-06-14,16,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,87.77,0.79,3410.00,18,Monday
3,2021-06-14,21,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,91.21,0.81,3490.00,38,Monday
4,2021-06-14,21,4865,ì •ê¸°ê¶Œ,M,20ëŒ€,2,106.95,1.01,4354.52,45,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2021-06-14,22,4367,ì •ê¸°ê¶Œ,M,20ëŒ€,1,122.70,0.86,3688.71,20,Monday
196,2021-06-14,10,4362,ì¼ì¼ê¶Œ,F,20ëŒ€,1,199.83,1.54,6639.59,27,Monday
197,2021-06-14,19,4362,ì¼ì¼ê¶Œ,F,20ëŒ€,2,366.27,3.44,14784.79,204,Monday
198,2021-06-14,20,4362,ì •ê¸°ê¶Œ,M,20ëŒ€,1,147.17,1.13,4889.96,21,Monday
199,2021-06-14,20,4362,ì¼ì¼ê¶Œ,M,20ëŒ€,1,159.33,1.44,6190.00,53,Monday

In [441]:
avr_20 = tmp_age_20['íƒ„ì†ŒëŸ‰'].mean().round(3)
avr_20

1.613

## Question 37<br/>
6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

In [448]:
tmp = df.loc[(df.ëŒ€ì—¬ì¼ì == '2021-06-07') & (df.ì—°ë ¹ëŒ€ì½”ë“œ == '~10ëŒ€')]
res = tmp['ì´ìš©ê±´ìˆ˜'].median()
print(res)

1.0

## Question 38<br/>
í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼

In [464]:
weekday_df = df.loc[(df.ìš”ì¼ != 'Sunday') & (df.ìš”ì¼ != 'Sunday')]
weekday_df = weekday_df.loc[weekday_df['ëŒ€ì—¬ì‹œê°„'].isin([6,7,8])]
grouped_df = weekday_df.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš©íšŸìˆ˜')

In [474]:
temp21 = grouped_df.sort_values(by = ['ëŒ€ì—¬ì‹œê°„','ì´ìš©íšŸìˆ˜'], ascending = False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)
display(temp21)

            ì´ìš©íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701    127
     646     120
     1152    100
7    259     107
     2744     80
     230      79
6    2744     47
     1125     44
     3214     44

## Question 39<br/>
ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [475]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,ìš”ì¼
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [486]:
df.dtypes

ëŒ€ì—¬ì¼ì      datetime64[ns]
ëŒ€ì—¬ì‹œê°„               int64
ëŒ€ì—¬ì†Œë²ˆí˜¸              int64
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ            object
ì„±ë³„                object
ì—°ë ¹ëŒ€ì½”ë“œ             object
ì´ìš©ê±´ìˆ˜               int64
ìš´ë™ëŸ‰               object
íƒ„ì†ŒëŸ‰              float64
ì´ë™ê±°ë¦¬             float64
ì‚¬ìš©ì‹œê°„               int64
ìš”ì¼                object
dtype: object

In [477]:
avr_mov = df['ì´ë™ê±°ë¦¬'].mean()

In [487]:
temp22 = df.loc[df['ì´ë™ê±°ë¦¬'] >= df['ì´ë™ê±°ë¦¬'].mean() ].reset_index(drop = True)
res = temp22['ì´ë™ê±°ë¦¬'].std()

In [490]:
print(res)

5092.139707505356

## Question 40<br/>
ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [492]:
df['ì„±ë³„'] = df['ì„±ë³„'].replace('f','F')
df['ì„±ë³„'] = df['ì„±ë³„'].replace('m','M')

In [497]:
res = df[['ì„±ë³„','ì´ë™ê±°ë¦¬']].groupby('ì„±ë³„').mean()
display(res)

           ì´ë™ê±°ë¦¬
ì„±ë³„
F   3468.575025
M   3209.110871

## ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

### Attention <br/>

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/unsdsn/world-happiness(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)<br/>
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬<br/>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv<br/>

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

### Question 41<br/>
ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [12]:
happy_avr = df.loc[df['í–‰ë³µë­í‚¹'] == 10]['ì ìˆ˜'].mean()
print(happy_avr)

7.259

### Question 42<br/>
ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [24]:
up_50 = df.loc[df['í–‰ë³µë­í‚¹'] <= 50][['ë…„ë„','ì ìˆ˜']]

In [27]:
up_50_mean = up_50.groupby('ë…„ë„').mean()
print(up_50_mean)

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

### Question 43
2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [35]:
df_18 = df.loc[df['ë…„ë„'] == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]

In [41]:
df_18_corr = df_18.corr().iloc[0,1]
print(df_18_corr)

0.40529152271510027

### Question 44<br/>
2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [45]:
no_change = len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']]) - len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']].drop_duplicates())
print(no_change)

15

### Question 45<br/>
2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [66]:
df[df.ë…„ë„ ==2019]

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [89]:
df_19 = df.loc[df.ë…„ë„ == 2019].drop('ë‚˜ë¼ëª…', axis=1).corr().unstack().to_frame().reset_index()
tmp31 = df_19[df_19[0] != 1].dropna().sort_values(0, ascending = False).drop_duplicates(0)
answ = tmp31.head(5).reset_index(drop=True)
answ.columns= ['v1','v2','corr']
display(answ)

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

### Question 46
ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [90]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [105]:
mean_df = df.groupby('ë…„ë„').tail(5).groupby('ë…„ë„').mean('ì ìˆ˜')
mean_df[['ì ìˆ˜']]

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

### Question 47
2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

In [110]:
df_19 = df.loc[df['ë…„ë„'] == 2019]
mean = df_19['ìƒëŒ€GDP'].mean()

In [119]:
up_mean = df_19.loc[df_19['ìƒëŒ€GDP'] >= mean]['ì ìˆ˜'].mean()
down_mean = df_19.loc[df_19['ìƒëŒ€GDP'] <= mean]['ì ìˆ˜'].mean()
print('í‰ê· ì´ìƒ', up_mean)
print('í‰ê· ì´í•˜', down_mean)
print('ì°¨ì´',(up_mean - down_mean))

í‰ê· ì´ìƒ 6.0132045454545455
í‰ê· ì´í•˜ 4.622720588235294
ì°¨ì´ 1.390483957219251

### Question 48
ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [125]:
df.sort_values(['ë…„ë„','ë¶€ã…groupby('ë…„ë„').mean()

TypeError: agg function failed [how->mean,dtype->object]