## 전세계 행복도 지표 데이터

### Attention <br/>

데이터 출처 :https://www.kaggle.com/unsdsn/world-happiness(참고, 데이터 수정)<br/>
데이터 설명 : 전세계 행복도 지표 조사<br/>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv<br/>

In [2]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

### Question 41<br/>
데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [3]:
happy_avr = df.loc[df['행복랭킹'] == 10]['점수'].mean()
print(happy_avr)

7.259

### Question 42<br/>
데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [4]:
up_50 = df.loc[df['행복랭킹'] <= 50][['년도','점수']]

In [5]:
up_50_mean = up_50.groupby('년도').mean()
print(up_50_mean)

           점수
년도
2018  6.64678
2019  6.67002

### Question 43
2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [6]:
df_18 = df.loc[df['년도'] == 2018][['점수','부패에 대한인식']]

In [7]:
df_18_corr = df_18.corr().iloc[0,1]
print(df_18_corr)

0.40529152271510027

### Question 44<br/>
2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [8]:
no_change = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
print(no_change)

15

### Question 45<br/>
2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [9]:
df[df.년도 ==2019]

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [10]:
df_19 = df.loc[df.년도 == 2019].drop('나라명', axis=1).corr().unstack().to_frame().reset_index()
tmp31 = df_19[df_19[0] != 1].dropna().sort_values(0, ascending = False).drop_duplicates(0)
answ = tmp31.head(5).reset_index(drop=True)
answ.columns= ['v1','v2','corr']
display(answ)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

### Question 46
각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [11]:
df

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [12]:
mean_df = df.groupby('년도').tail(5).groupby('년도').mean('점수')
mean_df[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

### Question 47
2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [13]:
df_19 = df.loc[df['년도'] == 2019]
mean = df_19['상대GDP'].mean()

In [14]:
up_mean = df_19.loc[df_19['상대GDP'] >= mean]['점수'].mean()
down_mean = df_19.loc[df_19['상대GDP'] <= mean]['점수'].mean()
print('평균이상', up_mean)
print('평균이하', down_mean)
print('차이',(up_mean - down_mean))

평균이상 6.0132045454545455
평균이하 4.622720588235294
차이 1.390483957219251

### Question 48
각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [28]:
tmp = df.sort_values(by = ['년도','부패에 대한인식'],ascending=False).groupby('년도').head(20).reset_index(drop = True)

In [34]:
ans = tmp[['년도', '부패에 대한인식' ]].groupby('년도').mean()
print(ans)

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

### Question 49
2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [43]:
df_18_50 = df.loc[(df.년도 == 2018) & (df.행복랭킹 <= 50)] 
df_19_50 = df.loc[(df.년도 == 2019) & (df.행복랭킹 <= 50)]

In [47]:
df_18_50_lst = set(df_18_50['나라명'])
df_19_50_lst = set(df_19_50['나라명'])

In [50]:
print(len(df_18_50_lst - df_19_50_lst))

4

### Question 50
2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [108]:
df

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [122]:
cnt = df['나라명'].value_counts()
usable = cnt[cnt == 2].index

df_2 = df.copy()

In [124]:
df_2 = df_2[df.나라명.isin(usable)].reset_index(drop = True)

In [142]:
df_2_2018 = df_2.loc[df_2.년도 == 2018][['나라명','점수',]].sort_values('나라명').reset_index(drop = True)
df_2_2019 = df_2.loc[df_2.년도 == 2019][['나라명','점수',]].sort_values('나라명').reset_index(drop = True)
# 2018년과 2019년으로 나누고 나라명으로 정열

In [153]:
gap = df_2_2019['점수'] - df_2_2018['점수']
# 점수 차이 dataframe으로

In [161]:
max = gap.max()
#점수 차이 최대 값

In [168]:
max_index = gap[gap == max].index
# 점수 차이 최대 값의 인덱스 추출

In [169]:
nat = df_2_2019['나라명'][max_index]
# 최대값 인덱스를 통해서 최대 증가량 국가 추출

In [170]:
print('증가수치',max)
print('최대증가 국가', nat)

증가수치 0.8700000000000001
최대증가 국가 20    Burundi
Name: 나라명, dtype: object

## 지역구 에너지 소비량 데이터

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (참고, 데이터 수정)
데이터 설명 : 기온, 습도,바람풍속에 따른 도시의 3개 지역구의 에너지 소비량
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv

In [93]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

### Question 51
DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [7]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
res = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
display(res)

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

### Question 52
3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [54]:
mar_df = df.loc[df['DateTime'].dt.month == 3 ]

In [55]:
res = mar_df.groupby(mar_df.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]
print(res)

11.506612903225806

### Question 53
3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [ ]:
mar_df = df.loc[df['DateTime'].dt.month == 3 ]

In [60]:
res = mar_df.groupby(mar_df.DateTime.dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]
print(res)

18.393602150537635

### Question 54
Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [61]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [65]:
res = df.loc[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()
print(res)

68.23624448055052

### Question 55
각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [71]:
corr_df = df[['Zone 1 Power Consumption','Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()
display(corr_df)

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

### Question 56
Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [94]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [83]:
df['Grade'] = 'A'
df.loc[df['Temperature'] < 10, 'Grade'] = 'A'
df.loc[(df['Temperature'] >= 10) & (df['Temperature'] < 20),'Grade'] = 'B'
df.loc[(df['Temperature'] >= 20) & (df['Temperature'] < 30),'Grade'] = 'C'
df.loc[df['Temperature'] >= 30 ,'Grade'] = 'D'

In [84]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Grade
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,A
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,A
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,A
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,A
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,A
...,...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,A
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,A
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,A
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,A
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,A

In [87]:
df.value_counts('Grade')

Grade
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

### Question 57
6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [108]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df.loc[(df.DateTime.dt.month == 6) & (df.DateTime.dt.hour == 12)]['Temperature'].std()

2.0499417827951025

In [90]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,Grade
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,A
1,6,6.000,6.0,6.000,6.000,6.000,6.00000,6.00000,6.00000,6
2,6,6.000,6.0,6.000,6.000,6.000,6.00000,6.00000,6.00000,6
3,6,6.000,6.0,6.000,6.000,6.000,6.00000,6.00000,6.00000,6
4,6,6.000,6.0,6.000,6.000,6.000,6.00000,6.00000,6.00000,6
...,...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,A
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,A
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,A
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,A
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,A

### Question 58
6월 데이터중 12시의 Temperature의 분산을 구하여라

In [109]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df.loc[(df.DateTime.dt.month == 6) & (df.DateTime.dt.hour == 12)]['Temperature'].var()

4.202261312849163

### Question 59
Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [117]:
avr_temp = df.Temperature.mean()
res = df.loc[df.Temperature >= avr_temp].sort_values('Temperature').reset_index()['Humidity'][3]
print(res)

87.9

### Question 60
**Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

**

In [124]:
med_temp = df.Temperature.median()
df.loc[df.Temperature >= med_temp].sort_values('Temperature').reset_index()['Humidity'][3]

80.3

## 포켓몬 정보 데이터

데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)<br/>
데이터 설명 : 포켓몬 정보<br/>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [2]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Question 61
Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [7]:
leg_df_hp_avr = df.loc[df['Legendary'] == True]['HP'].mean()
nom_df_hp_avr = df.loc[df['Legendary'] == False]['HP'].mean()

In [8]:
leg_df_hp_avr

92.73846153846154

In [9]:
nom_df_hp_avr

67.18231292517007

In [10]:
print(leg_df_hp_avr-nom_df_hp_avr)

25.55614861329147

### Question 62
Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [19]:
res = df['Type 2'].value_counts().index[0]
print(res)

Flying

### Question 63
가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [24]:
type1_atk_avr = df['Type 1'].value_counts().index[0]
res = df.loc[df['Type 1'] == type1_atk_avr]['Attack'].mean() / df.loc[df['Type 1'] == type1_atk_avr]['Defense'].mean()
print(res)

1.0165238678090576

### Question 64
포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [25]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [33]:
df.loc[df['Legendary'] == True]['Generation'].value_counts().index[0]

3

### Question 65
‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [43]:
tmp = df[['HP',
           'Attack', 
           'Defense',
           'Sp. Atk', 
           'Sp. Def', 
           'Speed']].corr().unstack().reset_index().rename(columns = {0: 'corr'})
res = tmp.loc[tmp['corr'] != 1].sort_values('corr', ascending = False).iloc[0]
print(res)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

### Question 66
각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [51]:
gen_atk_h3 = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
print(gen_atk_h3)

19.5

### Question 67
각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [53]:
gen_atk_h5 = df.sort_values(['Generation','Attack'], ascending= False).groupby('Generation').head(5).Attack.mean()
print(gen_atk_h5)

157.23333333333332

### Question 68
가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [54]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [57]:
pair = df.value_counts(['Type 1', 'Type 2']).index[0]
print(pair)

('Normal', 'Flying')

### Question 69
한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [71]:
pair_one = df[['Type 1', 'Type 2']].value_counts()
res = len(pair_one[pair_one == 1])
print(res)

39

### Question 70
한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [86]:
pair_one = df.value_counts(['Type 1', 'Type 2', 'Generation'])
pair_one

Type 1  Type 2    Generation
Ghost   Grass     6             10
Grass   Poison    1             10
Normal  Flying    1              9
Bug     Poison    1              6
Steel   Psychic   3              5
                                ..
Grass   Ground    4              1
        Poison    3              1
Ground  Electric  5              1
        Fire      3              1
Water   Steel     4              1
Name: count, Length: 212, dtype: int64

In [87]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

In [89]:
target

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Name: count, Length: 136, dtype: int64

In [90]:
target2

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
Name: count, dtype: int64

In [92]:
target2.reset_index().values

array([['Electric', 'Grass', 1],
       ['Steel', 'Dragon', 1],
       ['Electric', 'Ice', 1],
       ['Steel', 'Fighting', 1],
       ['Steel', 'Flying', 1],
       ['Electric', 'Fairy', 1],
       ['Electric', 'Ghost', 1],
       ['Electric', 'Fire', 1],
       ['Bug', 'Water', 1],
       ['Electric', 'Dragon', 1],
       ['Dragon', 'Fire', 1],
       ['Bug', 'Ghost', 1],
       ['Dragon', 'Fairy', 1],
       ['Dragon', 'Electric', 1],
       ['Ground', 'Steel', 1],
       ['Rock', 'Fighting', 1],
       ['Electric', 'Water', 1],
       ['Psychic', 'Dark', 1],
       ['Ground', 'Fire', 1],
       ['Ground', 'Electric', 1],
       ['Normal', 'Ground', 1],
       ['Grass', 'Ground', 1],
       ['Normal', 'Water', 1],
       ['Poison', 'Bug', 1],
       ['Poison', 'Dragon', 1],
       ['Grass', 'Dragon', 1],
       ['Poison', 'Water', 1],
       ['Ghost', 'Dark', 1],
       ['Fighting', 'Dark', 1],
       ['Psychic', 'Fire', 1],
       ['Fire', 'Water', 1],
       ['Psychic', 'Ghost', 1],
       ['Psychic', 'Grass', 1],
       ['Fire', 'Steel', 1],
       ['Fire', 'Rock', 1],
       ['Ice', 'Ghost', 1],
       ['Fire', 'Dragon', 1],
       ['Fighting', 'Flying', 1],
       ['Water', 'Steel', 1]], dtype=object)

In [94]:
lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

lst

[       #            Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 536  479  RotomMow Rotom  Electric  Grass    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 536      105      107     86           4      False  ,
        #    Name Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 540  483  Dialga  Steel  Dragon    680  100     120      120      150

      Sp. Def  Speed  Generation  Legendary
 540      100     90           4       True  ,
        #              Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 534  479  RotomFrost Rotom  Electric    Ice    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 534      105      107     86           4      False  ,
        #      Name Type 1    Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 699  638  Cobalion  Steel  Fighting    580  91      90      129       90

      Sp. Def  Speed  Generation  Legendary
 699       72    108           5       True  ,
        #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 245  227  Skarmory  Steel  Flying    465  65      80      140       40

      Sp. Def  Speed  Generation  Legendary
 245       70     70           2      False  ,
        #     Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 772  702  Dedenne  Electric  Fairy    431  67      58       57       81

      Sp. Def  Speed  Generation  Legendary
 772       67    101           6      False  ,
        #   Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 531  479  Rotom  Electric  Ghost    440  50      50       77       95

      Sp. Def  Speed  Generation  Legendary
 531       77     91           4      False  ,
        #             Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 532  479  RotomHeat Rotom  Electric   Fire    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 532      105      107     86           4      False  ,
        #     Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 307  283  Surskit    Bug  Water    269  40      30       32       50       52

      Speed  Generation  Legendary
 307     65           3      False  ,
        #                   Name    Type 1  Type 2  Total  HP  Attack  Defense  \
 196  181  AmpharosMega Ampharos  Electric  Dragon    610  90      95      105

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 196      165      110     45           2      False  ,
        #      Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 706  643  Reshiram  Dragon   Fire    680  100     120      100      150

      Sp. Def  Speed  Generation  Legendary
 706      120     90           5       True  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 316  292  Shedinja    Bug  Ghost    236   1      90       45       30

      Sp. Def  Speed  Generation  Legendary
 316       30     40           3      False  ,
        #                 Name  Type 1 Type 2  Total  HP  Attack  Defense  \
 366  334  AltariaMega Altaria  Dragon  Fairy    590  75     110      110

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 366      110      105     80           3      False  ,
        #    Name  Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 707  644  Zekrom  Dragon  Electric    680  100     150      120      120

      Sp. Def  Speed  Generation  Legendary
 707      100     90           5       True  ,
        #       Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 589  530  Excadrill  Ground  Steel    508  110     135       60       50

      Sp. Def  Speed  Generation  Legendary
 589       65     88           5      False  ,
        #       Name Type 1    Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 700  639  Terrakion   Rock  Fighting    580  91     129       90       72

      Sp. Def  Speed  Generation  Legendary
 700       90    108           5       True  ,
        #             Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 533  479  RotomWash Rotom  Electric  Water    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 533      105      107     86           4      False  ,
        #                Name   Type 1 Type 2  Total  HP  Attack  Defense  \
 798  720  HoopaHoopa Unbound  Psychic   Dark    680  80     160       60

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 798      170      130     80           6       True  ,
        #                   Name  Type 1 Type 2  Total   HP  Attack  Defense  \
 424  383  GroudonPrimal Groudon  Ground   Fire    770  100     180      160

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 424      150       90     90           3       True  ,
        #      Name  Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 679  618  Stunfisk  Ground  Electric    471  109      66       84       81

      Sp. Def  Speed  Generation  Legendary
 679       99     32           5      False  ,
        #       Name  Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 728  660  Diggersby  Normal  Ground    423  85      56       77       50

      Sp. Def  Speed  Generation  Legendary
 728       77     78           6      False  ,
        #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 434  389  Torterra  Grass  Ground    525  95     109      105       75

      Sp. Def  Speed  Generation  Legendary
 434       85     56           4      False  ,
        #     Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 445  400  Bibarel  Normal  Water    410  79      85       60       55

      Sp. Def  Speed  Generation  Legendary
 445       60     71           4      False  ,
        #     Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 501  451  Skorupi  Poison    Bug    330  40      50       90       30

      Sp. Def  Speed  Generation  Legendary
 501       55     65           4      False  ,
        #      Name  Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 761  691  Dragalge  Poison  Dragon    494  65      75       90       97

      Sp. Def  Speed  Generation  Legendary
 761      123     44           6      False  ,
        #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
 275  254  SceptileMega Sceptile  Grass  Dragon    630  70     110       75

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 275      145       85    145           3      False  ,
        #    Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 760  690  Skrelp  Poison  Water    320  50      60       60       60       60

      Speed  Generation  Legendary
 760     30           6      False  ,
        #       Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 490  442  Spiritomb  Ghost   Dark    485  50      92      108       92

      Sp. Def  Speed  Generation  Legendary
 490      108     35           4      False  ,
        #     Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 743  675  Pangoro  Fighting   Dark    495  95     124       78       69

      Sp. Def  Speed  Generation  Legendary
 743       71     58           6      False  ,
        #     Name   Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 553  494  Victini  Psychic   Fire    600  100     100      100      100

      Sp. Def  Speed  Generation  Legendary
 553      100    100           5       True  ,
        #       Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 799  721  Volcanion   Fire  Water    600  80     110      120      130

      Sp. Def  Speed  Generation  Legendary
 799       90     70           6       True  ,
        #                 Name   Type 1 Type 2  Total  HP  Attack  Defense  \
 797  720  HoopaHoopa Confined  Psychic  Ghost    600  80     110       60

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 797      150      130     70           6       True  ,
        #    Name   Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 271  251  Celebi  Psychic  Grass    600  100     100      100      100

      Sp. Def  Speed  Generation  Legendary
 271      100    100           2      False  ,
        #     Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 542  485  Heatran   Fire  Steel    600  91      90      106      130      106

      Speed  Generation  Legendary
 542     77           4       True  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 237  219  Magcargo   Fire   Rock    410  50      50      120       80

      Sp. Def  Speed  Generation  Legendary
 237       80     30           2      False  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 530  478  Froslass    Ice  Ghost    480  70      80       70       80

      Sp. Def  Speed  Generation  Legendary
 530       70    110           4      False  ,
    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
 7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
 7      130       85    100           1      False  ,
        #      Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 771  701  Hawlucha  Fighting  Flying    500  78      92       75       74

      Sp. Def  Speed  Generation  Legendary
 771       63    118           6      False  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 440  395  Empoleon  Water  Steel    530  84      86       88      111

      Sp. Def  Speed  Generation  Legendary
 440      101     60           4      False  ]

In [ ]:
result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

In [99]:
pd.concat(lst).reset_index(drop = True).Generation.value_counts().sort_index()

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64

### 대한민국 체력장 데이터

데이터 출처 : 국민체육진흥공단 (문화 빅데이터플랫폼) (참고, 데이터 수정)<br/>
데이터 설명 : 대한민국 국민 체력장 평가<br/>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [6]:
df.dtypes

측정나이                float64
측정회원성별               object
신장 : cm             float64
체중 : kg             float64
체지방율 : %            float64
이완기혈압(최저) : mmHg    float64
수축기혈압(최고) : mmHg    float64
악력D : kg            float64
앉아윗몸앞으로굽히기 : cm     float64
교차윗몸일으키기 : 회        float64
제자리 멀리뛰기 : cm       float64
등급                   object
이완기-수축기             float64
dtype: object

In [9]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '이완기-수축기'],
      dtype='object')

#### Question 71
전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [2]:
df['이완기-수축기'] = df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']

In [5]:
df['이완기-수축기'].mean()

52.19539414750672

#### Question 72
50~59세의 신장평균을 구하여라

In [19]:
df_50s = df.loc[(df['측정나이'] >= 50) & (df['측정나이'] < 60)]['신장 : cm']
avr_height = df_50s.mean()
print(avr_height)

164.07490107405314

#### Question 73
연령대(20~29 : 20대 ...)별 인원수를 구하여라

In [23]:
df['연령대'] = df['측정나이'] // 10 * 10
result = df['연령대'].value_counts()
print(result)

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

#### Question 74
연령대 별 등급의 숫자를 데이터 프레임으로 표현하라

In [31]:
res = df[['연령대','등급']].groupby(['연령대','등급'],as_index = False).value_counts()
display(res)

     연령대 등급  count
0   20.0  A   1585
1   20.0  B   1443
2   20.0  C   1455
3   20.0  D   1348
4   30.0  A    743
5   30.0  B    697
6   30.0  C    626
7   30.0  D    594
8   40.0  A    386
9   40.0  B    428
10  40.0  C    455
11  40.0  D    532
12  50.0  A    321
13  50.0  B    410
14  50.0  C    474
15  50.0  D    564
16  60.0  A    314
17  60.0  B    371
18  60.0  C    339
19  60.0  D    311

#### Question 75
남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [68]:
df_m = df.loc[df['측정회원성별'] == 'M']
df_fat_A = df_m.loc[df['등급'] == 'A']['체지방율 : %'].mean()
df_fat_D = df_m.loc[df['등급'] == 'D']['체지방율 : %'].mean()

In [69]:
print('A등급_체지방',df_fat_A)
print('D등급_체지방',df_fat_D)

A등급_체지방 16.880880844504023
D등급_체지방 24.812967330641545

In [70]:
res = df_fat_D - df_fat_A
print(res)

7.932086486137521

#### Question 76
여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [71]:
df_f = df.loc[df['측정회원성별'] == 'F']

In [72]:
df_weight_A = df_f.loc[df['등급'] == 'A']['체중 : kg'].mean()
df_weight_D = df_f.loc[df['등급'] == 'D']['체중 : kg'].mean()

In [73]:
print('A등급_체중',df_weight_A)
print('D등급_체중',df_weight_D)

A등급_체중 55.52114555256065
D등급_체중 60.69735714285715

In [74]:
res = df_weight_D - df_weight_A
print(res)

5.176211590296504

#### Question 77
bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다.<br/>
데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [75]:
df.columns

Index(['측정나이', '측정회원성별', '신장 : cm', '체중 : kg', '체지방율 : %', '이완기혈압(최저) : mmHg',
       '수축기혈압(최고) : mmHg', '악력D : kg', '앉아윗몸앞으로굽히기 : cm', '교차윗몸일으키기 : 회',
       '제자리 멀리뛰기 : cm', '등급', '이완기-수축기', '연령대'],
      dtype='object')

In [82]:
df['BMI'] = (df['체중 : kg']) / (df['신장 : cm']/100)**2
df.loc[df['측정회원성별'] == 'M']['BMI'].mean()

24.46134409819308

#### Question 78
bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [90]:
avr = df.loc[df['체지방율 : %'] > df['BMI']]['체중 : kg'].mean()
print(avr)

61.7408806392542

#### Question 79
남성과 여성의 악력 평균의 차이를 구하여라

In [93]:
male_gp_avr = df[df.측정회원성별 == 'M']['악력D : kg'].mean()
female_gp_avr = df[df.측정회원성별 == 'F']['악력D : kg'].mean()
print('남자악력평균', male_gp_avr)
print('여자악령평균', female_gp_avr)

남자악력평균 43.36538696418085
여자악령평균 25.80584511370621

In [94]:
print('남자악력평균-여자악력평균', male_gp_avr - female_gp_avr)

남자악력평균-여자악력평균 17.55954185047464

#### Question 80
남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [86]:
df_clunch_male = df.loc[df['측정회원성별'] == 'M']['교차윗몸일으키기 : 회'].mean()
df_clunch_female = df.loc[df['측정회원성별'] == 'F']['교차윗몸일으키기 : 회'].mean()
print('남성_교차윗몸일으키기_평균',df_clunch_male)
print('여성_교차윗몸일으키기_평균',df_clunch_female)

남성_교차윗몸일으키기_평균 45.048032883147386
여성_교차윗몸일으키기_평균 30.80487604998976

In [87]:
print(df_clunch_male - df_clunch_female)

14.243156833157627